doctype html
html
  head
    title 文章列表
    link(href="/stylesheets/bootstrap/bootstrap.min.css" rel="stylesheet")
    script(src="/javascripts/jquery-1.11.3.min.js")
    script(src="/javascripts/bootstrap.js")
  body
    .table-responsive(style="margin:20px 200px 0 100px;")
      table.table.table-bordered
        caption 活跃用户
        thead
          tr
            th #
            th 用户
            th 回复
            th 权限
            th 状态
            
        tbody
          tr
            td 
              input(type="checkbox" value="1" )
            td 1
            td 2
            td 3
            td 3
            
         