.btn-primary {
    background-color: #113355;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#446688), to(#113355));
    background-image: -webkit-linear-gradient(top, #446688, #113355);
    background-image: -o-linear-gradient(top, #446688, #113355);
    background-image: linear-gradient(to bottom, #446688, #113355);
    background-image: -moz-linear-gradient(top, #446688, #113355);
}

.btn {
    background-color: #e5e5e5;
    background-image: none;
    filter: none;
    border: 0;
    padding: 7px 14px;
    text-shadow: none;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
    cursor: pointer;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}


.btn.blue {
    color: white;
    text-shadow: none; 
    background-color: #4d90fe; 
}

.btn.green {
    color: white;
    text-shadow: none; 
    background-color: green; 
}
.btn.red {
    color: white;
    text-shadow: none; 
    background-color: red; 
}
