
.topnews {
  margin:  0;
}
.topnews h2 {
  font-size: 16px;
  font-weight: bold;
  line-height: 36px;
  color: #333;
  border-bottom: #db6d4c 10px solid;
}
/*文章块 */
.block {
  padding: 20px 0;
  position: relative;
  border-bottom: #CCC 1px solid;
  overflow: hidden;
}
.block figure {
  float: left;
  width: 15%;
  overflow: hidden;
}

.block ul {
  float: right;
  line-height: 22px;
  width: 85%;
  color: #756F71;
}

.block h3 {
  font-size: 16px;
  font-weight: bold;
  transition: all .5s;
  margin-top: 10px;
}
.block figure img {
  width: 100%;
  margin: auto;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}


/* 幻灯片 */
.banner { height : 280px; width : 670px; overflow : hidden; }
#slide-runner { height : 280px; width : 670px; overflow : hidden; position : absolute; }
#slide-holder img { position : absolute; }
#slide-controls { left : 0; bottom : 0px; width : 670px; height : 34px; display : none; position : absolute; background : url(/images/slide-bg.png) 0 0; }
#slide-controls p.text { float : left; color : #fff; display : inline; line-height : 16px; margin : 10px 0 0 20px; }
#slide-controls p#slide-nav { float : right; height : 24px; display : inline; margin : 5px 0px 0 0; }
#slide-controls p#slide-nav a { float : left; width : 24px; height : 24px; display : inline; font-size : 11px; margin : 0 5px 0 0; line-height : 24px; text-align : center; color: #fff }
#slide-controls p#slide-nav a.on { background-position : 0 -24px; }
#slide-controls p#slide-nav a { background-image : url(/images/silde-nav.png); }