doctype html
html
  head
    title 文章列表
    link(href="/stylesheets/bootstrap/bootstrap.min.css" rel="stylesheet")

    link(href="/stylesheets/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet")
    

  body
    table.table.table-bordered
      thead
        tr
          th  参数说明
          th  参数值
      tbody
        tr
          td 网站名称:
          td 
            input(type="text" value="探索未知" name="rootname")